body {
  font-family: Avenir, sans-serif;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

:target { scroll-margin-top: 140px; }

h1 {
  color: white;
  margin: 0px 0px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  color: white;
  margin: 0px 0px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}

h3 {
  color: #0b5394;
  font-size: 18px;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 500;
  border-bottom: 2px solid #0b5394;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 2px 2px 4px #DCE0E2;
}

a {
  text-decoration: none;
  color: #0b5394;
}

b {
  font-weight: 500;
}

p {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

 .headerbackground {
  position: fixed;
  background: #0b5394;
  width: 100%;
  height: 145px;
  left: 0;
  right: 0;
  top: 0;
 }

 .header {
  position: fixed;
  background: #0b5394;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  height: 145px;
  color: #ffffff;
}

.navigation {
  width: auto;
  position: absolute;
  margin-top: 15px;
  margin-left: 25px;
  word-spacing: 25px;
  letter-spacing: 2px;
  font-weight:550;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.headertab {
  display: grid;
  align-items: center; 
  grid-template-columns: 500px 300px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px black;
}

.header a {
  color: #ffffff;
}

.content {
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  width: 800px;
}

.info {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.research {
  margin-top: 0px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.funding {
  margin-top: 0px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.publications {
  margin-top: 0px;
  margin-bottom: 40px;
  background: #ffffff;
  border: 2px solid #ffffff;
}

.footer {
  background: #0b5394;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  width: 100%;
  text-shadow: 2px 2px 4px black;
}

.twotabinfo {
  display: grid;
  align-items: center; 
  grid-template-columns: 175px auto;
  width: 750px;
  margin: 0 auto;
  text-align: justify;
}

.twotab {
  display: grid;
  align-items: center; 
  grid-template-columns: auto 275px;
  width: 750px;
  margin: 0 auto;
}

.threetab {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
}

.divend {
  height: 5px;
}

.btn {
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .2s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

p.headnawa2019 {display: none;}
p.headncn2020 {display: none;}
p.headncn2024 {display: none;}
p.headjsps2026 {display: none;}

#scroll-progress {
  top: 0;
  width: 0%;
  height: 5px;
  background: #ffffff;
  z-index: 10000;
}
