*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
}

h2,
p {
  max-width: 60rem;
}

a {
  text-decoration: none;
  color: black;
}

[data-parallax=container] {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 200px;
  perspective-origin: center;
}

[data-parallax=group] {
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
}

[data-parallax=layer] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center;
}

[data-parallax-speed=speed1] {
  transform: translateZ(-200px) scale(0.8);
  z-index: 1;
}

[data-parallax-speed=speed2] {
  transform: translateZ(-190px) scale(0.9);
  z-index: 2;
}

[data-parallax-speed=speed3] {
  transform: translateZ(-180px) scale(1.0);
  z-index: 3;
}

[data-parallax-speed=speed4] {
  transform: translateZ(-170px) scale(1.1);
  z-index: 4;
}

[data-parallax-speed=speed5] {
  transform: translateZ(-320px) scale(1.75);
  z-index: 5;
}

[data-image=inst0],
[data-image=inst1],
[data-image=inst2],
[data-image=inst3],
[data-image=inst4],
[data-image=inst5],
[data-image=inst6],
[data-image=inst7],
[data-image=inst8] {
  width: 20vw;
  background-size: cover;
  background-position: top center;
}

[data-image=inst1] {
  background-image: url("logos/espci_tall.png");
}

[data-image=inst2] {
  background-image: url("logos/jsi_tall.png");
}

[data-image=inst3] {
  background-image: url("logos/wust_tall.png");
}

[data-image=inst4] {
  background-image: url("logos/qmz_tall.png");
}

[data-image=inst0] {
  background-image: url("logos/moth_tall.png");
}

[data-image=inst5] {
  background-image: url("logos/ug_tall.png");
}

[data-image=inst6] {
  background-image: url("logos/us_tall.png");
}

[data-image=inst7] {
  background-image: url("logos/uw_tall.png");
}

[data-image=inst8] {
  background-image: url("logos/uz_tall.png");
}

header[data-parallax=group] {
  height: 100vh;
}

.preamble {
  background-color: white;
  box-shadow: 0 0 10vh rgba(0, 0, 0, 0.8);
}

.parallax {
  color: white;
  overflow: hidden;
  background-color: black;
}

.parallax p {
  text-shadow: 0 0 2px black;
}

.preamble,
.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10vmin;
  position: absolute;
  z-index: 999;
}

@media (min-width: 60rem) {
.preamble,
.parallax {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
  }
}

#set-height {
  display: flex;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

@-webkit-keyframes sd_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes sd_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes sd_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

.sd {
  margin: 0px 0 0 -56px;
  line-height: 80px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  color: #000000;
  text-align: center;
  font-size: 22px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: sd_fade_move_down 3s ease-in-out infinite;
  -moz-animation:    sd_fade_move_down 3s ease-in-out infinite;
  animation:         sd_fade_move_down 3s ease-in-out infinite;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.layer-fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

.stack {
  position: relative;
  width: 900px;
  height: 600px;
}

.stack .layermap {
  position: absolute;
  inset: 0;
  width: 100%; height: 100%;
  object-fit: contain;
  opacity: 0;
  transform: scale(0.98);
  animation: fadeIn 1000ms ease-out forwards;
  animation-play-state: paused;  /* don’t play until triggered */
 }

/* ------------------------------------ 

[data-parallax-speed=front] {
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

[data-parallax-speed=base] {
  transform: translateZ(300px) scale(1.0);
  z-index: 4;
}

[data-image=captain-america-2],
[data-image=winter-soldier],
[data-image=scarlet-witch-2],
[data-image=okoye],
[data-image=mantis],
[data-image=nebula] {
  width: 32vw;
  height: 48vw;
  margin-top: 120vw;
  left: auto;
  background-size: cover;
  background-position: center top;
}

[data-image=captain-america-2] {
  right: 40vw;
  background-image: url(https://aepicos.com/codepen/images/captain-america-2.png);
}

[data-image=winter-soldier] {
  right: 84vw;
  background-image: url(https://aepicos.com/codepen/images/winter-soldier.png);
}

[data-image=scarlet-witch-2] {
  right: 102vw;
  background-image: url(https://aepicos.com/codepen/images/scarlet-witch-2.png);
}

[data-image=okoye] {
  right: -68vw;
  background-image: url(https://aepicos.com/codepen/images/okoye.png);
}

[data-image=mantis] {
  right: -7vw;
  background-image: url(https://aepicos.com/codepen/images/mantis.png);
}

[data-image=nebula] {
  right: 0vw;
  background-image: url(https://aepicos.com/codepen/images/nebula.png);
}

.stars,
.deep-stars {
  top: -10vh;
  bottom: -10vh;
  z-index: -1;
  background-image: url(https://aepicos.com/codepen/images/blue-star-sky.png);
}

.stars {
  background-size: 200%;
  background-position: center left;
  opacity: 0.8;
}

.deep-stars {
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.plot {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 120vw;
  overflow: hidden;
  background-color: white;
}

.plot h2 {
  width: 100%;
  margin-bottom: 1ex;
  color: purple;
}

.plot--content {
  z-index: -10;
}

footer {
  min-height: 100vh;
  text-align: left;
  background-color: #260041;
  color: #ede6f3;
}
footer h3 {
  margin-bottom: 4rem;
  transform: skewY(-10deg);
  font-size: 10vw;
  line-height: 0.85;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
footer h3 small {
  display: block;
  font-size: 5vw;
  letter-spacing: 0.24em;
}
footer p {
  width: 70%;
  margin-top: 1em;
}
footer a {
  color: #c9b3da;
}

*/